/* common styles */
.font-merri {
    font-family: "Merriweather", serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

/* ------ */
body {
    width: 80%;
    margin: 0 auto;
}

/* Banner styles */
.banner {
    background-image: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.banner-info-container {
    text-align: center;
}

.banner-info-container>p {
    font-weight: 300;
    font-size: 32px;
    color: #FFFFFF;
}

.banner-info-container h1 {
    color: #FFFFFF;
    font-size: 72px;
}

/* ------ */

/* Offers section styles */
.offer-section {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.offer-container {
    text-align: center;
    background-color: aqua;
    padding: 0 50px 20px 50px;
    border-radius: 10px;
}

.offer-container>h1 {
    color: #FF0000;
    font-size: 88px;
    font-weight: bold;
}

.offer-container>p {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
}

.offer-container>h3 {
    color: #070211;
    font-size: 48px;
    font-weight: bold;
}

/* ----------------------- */

/* Mid night party styles */
.mid-night-party-join {
    background-image: url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    height: 600px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.party-join-container {
    width: 100%;
    padding-left: 100px;
}

.party-join-container h1 {
    color: white;
    font-size: 64px;
}

.party-join-container p {
    color: #FFFFFF;
    font-size: 18px;
}

.party-join-container>button {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

.party-join-container>button:hover {
    background-color: rgba(0, 0, 0, 0.597);
}

/* ------------------------------------ */
/* Event Schedule Styles */
.event-schedule {
    height: 482px;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.609));
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.event-schedule-container {
    text-align: center;
}

.event-schedule-container p {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
}

.event-schedule-container span {
    color: #FF0000;
    font-size: 32px;
    font-weight: 600;
}

.event-schedule-container button {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF0000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.event-schedule-container button:hover {
    background-color: #760606a7;
}

/* -------------------------- */
/* New year best offer styles */
.new-best-offer {
    display: flex;
    justify-content: center;
    margin-bottom: 100PX;
}

.new-best-offer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.coming-soon {
    width: 33%;
    margin-right: 20px;
}

.coming-soon>h5 {
    color: #FF0000;
    font-size: 24px;
    font-weight: 600;
}

.coming-soon>h1 {
    color: #070211;
    font-size: 48px;
    font-weight: bold;
}

.coming-soon>p {
    color: darkgrey;
    font-size: 20px;
}

.celebration-image {
    width: 33%;
    margin-right: 60px;
}

.celebration-image>img {
    width: 100%;
    padding: 10px;
    border: 5px solid #FF0000;
    border-radius: 50%;
}

.new-year-text-image {
    width: 33%;
}

.new-year-text-image>h1 {
    color: #FF0000;
    font-size: 48px;
    font-weight: bold;
}

.new-year-text-image>p {
    color: darkgrey;
    font-size: 20px;
}

/* ----------------------------- */
/* Holiday sell styles */
.holiday-sale {
    margin-bottom: 100px;
}

.holiday-sale-container {
    margin: 0 auto;
    text-align: center;
    width: 75%;
    margin-bottom: 50px;
}

.holiday-sale-container>h5 {
    color: #070211;
    font-size: 24px;
    font-weight: 600;
}

.holiday-sale-container>h1 {
    font-size: 72px;
    font-weight: bold;
}

.holiday-sale-container>h1>span {
    color: #FF0000;
}

.holiday-sale-container>p {
    color: darkgray;
    font-size: 20px;
    font-weight: 600;
}

.sale-image-container {
    display: flex;
    justify-content: space-between;
    background-image: url('images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.gift-box-image>img {
    width: 80%;
}

.discount-image-container {
    width: 50%;
    display: flex;
}

.discount-image {
    width: 100%;
    background-image: url('images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position-x: 150px;
    margin-left: 180px;
}

/* -------------------------------- */
/* Best gifts styles */
.best-gifts {
    margin-bottom: 100px;
}

.best-gifts>h5 {
    color: #FF0000;
    font-size: 24px;
    font-weight: 600;
}

.best-gifts>h1 {
    color: #070211;
    font-size: 48px;
    font-weight: bold;
}

.best-gifts>p {
    color: darkgray;
    font-size: 20px;
}

.first-row {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}

.first-row img {
    width: 100%;
}

.second-row {
    display: flex;
    width: 100%;
    gap: 10px;
}

.second-row img {
    width: 100%;
}

/* ------------------------ */
/* Subscription styles */
.subscription {
    background-color: #c4343432;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 100px;
}

.subscribe-container {
    width: 50%;
    padding: 50px 50px;
    text-align: center;
}

.subscribe-container>h1 {
    color: #070211;
    font-size: 48px;
    font-weight: bold;
}

.subscribe-container>p {
    color: darkgray;
    font-size: 20px;
}

#subscribe {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

.subscribe-container>button {
    background-color: #FF0000;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}

.subscribe-container>button:hover {
    background-color: #d438383e;
}

/* ------------------------------- */